In [3]:
import pandas as pd

df = pd.read_csv("E:/fall 25_26/machinr/Smart Student Performance Prediction System/Term_Project_Dataset_20K.csv")
df.head()

,age,gender,parent_income,num_siblings,family_support,commute_time_min,part_time_job,previous_gpa,num_failed_courses,high_school_grade,...,concentration_level,exam_anxiety_level,course_difficulty_rating,teacher_experience_years,class_size,num_prerequisites,course_type,final_score,final_grade,pass_fail
0,24.0,Female,22678.0,0.0,1.0,95.0,No,2.22,3.0,99.7,...,7.0,6.0,2.0,11.0,95.0,3.0,Elective,NaN,C,Pass
1,21.0,Male,17905.0,3.0,2.0,0.0,Yes,3.78,1.0,75.7,...,3.0,3.0,1.0,NaN,148.0,2.0,Elective,81.7,C,Pass
2,28.0,Male,NaN,0.0,0.0,67.0,No,NaN,4.0,93.4,...,1.0,8.0,1.0,32.0,55.0,3.0,Elective,77.3,B,Pass
3,25.0,Female,29391.0,4.0,4.0,83.0,Yes,1.84,4.0,69.7,...,6.0,10.0,5.0,30.0,42.0,1.0,Mandatory,78.5,B,Pass
4,22.0,Male,15522.0,0.0,4.0,58.0,Yes,3.38,0.0,62.2,...,10.0,5.0,3.0,31.0,123.0,1.0,Mandatory,60.3,D,Pass